 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Boreas_block_3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-image-1 {
  width: 542px;
  height: 136px;
  margin: 163px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: normal;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-1 .u-list-1 {
  width: 706px;
  margin: 48px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 91px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 15px 51px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-list-1 {
    width: 713px;
    height: auto;
    min-height: 91px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-list-1 {
    min-height: 273px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 273px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 71px;
    padding-right: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 135px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 85px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 966px;
}

.u-section-2 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  margin: 27px 24px 0 614px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 24px 0 0 614px;
}

.u-section-2 .u-image-1 {
  width: 455px;
  height: 337px;
  margin: -100px auto 0 75px;
}

.u-section-2 .u-text-3 {
  line-height: 25.6px;
  font-weight: normal;
  font-size: 1rem;
  margin: 260px 410px 0 332px;
}

.u-section-2 .u-image-2 {
  width: 393px;
  height: 491px;
  margin: -438px 57px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: -375px 580px 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 438px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 414px;
  }

  .u-section-2 .u-image-1 {
    width: 336px;
    height: 249px;
    margin-top: 15px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 418px;
    margin-right: 423px;
    margin-left: 119px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -480px;
    margin-right: 55px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -504px;
    margin-right: 529px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 218px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 194px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 194px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 313px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 55px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 38px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 14px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 142px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 518px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
    width: 292px;
    margin-top: -453px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -505px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-image-1 {
  width: 587px;
  height: 330px;
  margin: 130px 266px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: -330px 785px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: -234px 0 60px 808px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -367px;
    margin-right: 695px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -323px;
    margin-left: 695px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 475px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -357px;
    margin-right: 295px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -161px;
    margin-left: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-image-1 {
    height: 191px;
    margin-top: 202px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: 245px;
    font-size: 0.75rem;
    margin-top: -393px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 245px;
    font-size: 0.75rem;
    margin: 253px auto 57px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Boreas_block_2.jpg");
  background-position: 50% 45.23%;
}

.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: right;
  font-size: 3rem;
  margin: 83px 0 0 796px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 0 0 60px 796px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 596px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 376px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    font-weight: 700;
    width: auto;
    margin-top: 180px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 0;
    margin-bottom: 56px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Boreas_block_31.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 668px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 3rem;
  font-weight: normal;
  margin: 322px 786px 0 0;
}

.u-section-5 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 0 735px 0 0;
}

.u-section-5 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  width: 693px;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  font-size: 2.0626em;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 586px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 366px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 186px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 135px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    font-weight: 700;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1041px;
}

.u-section-6 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 37px;
  min-height: 878px;
  margin-top: 37px;
  height: auto;
}