 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/LeapM_block_1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-image-1 {
  width: 473px;
  height: 136px;
  margin: 163px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: normal;
  margin: 22px auto 0;
}

.u-section-1 .u-list-1 {
  width: 706px;
  margin: 48px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 91px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 15px 51px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 713px;
    height: auto;
    min-height: 91px;
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-list-1 {
    min-height: 273px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 182px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 71px;
    padding-right: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 98px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/LeapM_block_2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 896px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 52.8px;
  font-weight: normal;
  margin: 45px 689px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-2 .u-table-1 {
  width: 653px;
  margin: -27px 0 0 auto;
}

.u-block-6f26-25 {
  background-image: none;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-icon-1 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-section-2 .u-icon-2 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
}

.u-section-2 .u-icon-3 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-icon-4 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
}

.u-section-2 .u-icon-5 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
}

.u-section-2 .u-icon-6 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  background-image: none;
}

.u-section-2 .u-icon-7 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
}

.u-section-2 .u-icon-8 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-icon-9 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-16 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-icon-10 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-18 {
  background-image: none;
}

.u-section-2 .u-icon-11 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-19 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-20 {
  background-image: none;
}

.u-section-2 .u-icon-12 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-section-2 .u-icon-13 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-table-cell-22 {
  background-image: none;
}

.u-section-2 .u-table-cell-23 {
  background-image: none;
}

.u-section-2 .u-icon-14 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-24 {
  background-image: none;
}

.u-section-2 .u-icon-15 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-26 {
  background-image: none;
}

.u-section-2 .u-icon-16 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-27 {
  background-image: none;
}

.u-section-2 .u-icon-17 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-table-cell-28 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-icon-18 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-30 {
  background-image: none;
}

.u-section-2 .u-icon-19 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-31 {
  background-image: none;
}

.u-section-2 .u-table-cell-32 {
  background-image: none;
}

.u-section-2 .u-icon-20 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-table-cell-33 {
  background-image: none;
}

.u-section-2 .u-icon-21 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-34 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-35 {
  background-image: none;
}

.u-section-2 .u-icon-22 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
}

.u-section-2 .u-table-cell-38 {
  background-image: none;
}

.u-section-2 .u-icon-23 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-table-cell-39 {
  background-image: none;
}

.u-section-2 .u-icon-24 {
  color: rgb(50, 186, 124) !important;
}

.u-section-2 .u-table-cell-40 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-41 {
  background-image: none;
}

.u-section-2 .u-icon-25 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-table-cell-42 {
  background-image: none;
}

.u-section-2 .u-icon-26 {
  color: rgb(50, 186, 124) !important;
}

.u-block-6f26-59 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 178px;
  height: 143px;
  margin: -533px auto 0 37px;
}

.u-section-2 .u-image-2 {
  width: 178px;
  height: 143px;
  margin: -143px auto 0 268px;
}

.u-section-2 .u-text-3 {
  margin: 9px 684px 0 37px;
}

.u-section-2 .u-group-1 {
  width: 419px;
  min-height: 255px;
  margin: 20px auto 60px 37px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-3 {
  width: 142px;
  height: 165px;
  margin: 79px auto 0 85px;
}

.u-section-2 .u-image-4 {
  width: 151px;
  height: 188px;
  margin: -244px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 222px;
  height: 179px;
  margin: -179px -7px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 117px;
  height: 94px;
  margin: -68px 101px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 489px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 242px;
  }

  .u-section-2 .u-image-4 {
    height: 187px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -178px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 269px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 89px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 162px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-bottom: 9px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 85px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/LeapM_lifestyle_kit.jpg");
  background-position: 50% 50%;
  min-height: 668px;
}

.u-section-3 .u-image-1 {
  width: 262px;
  height: 211px;
  margin: 229px calc(((100% - 1140px) / 2) + 77px) 0 auto;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 79.2px;
  font-weight: normal;
  margin: -209px calc(((100% - 1140px) / 2) + 544px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  line-height: 39.6px;
  margin: 11px calc(((100% - 1140px) / 2) + 426px) 0 calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 551px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 77px);
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 344px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 226px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 422px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 77px);
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 124px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 6px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 317px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 77px);
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 200px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 402px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 401px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -42px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 5px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/LeapM_block_3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-image-1 {
  width: 250px;
  height: 486px;
  margin: 91px 143px 0 auto;
}

.u-section-4 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -426px 544px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 678px 0 0;
}

.u-section-4 .u-group-1 {
  width: 417px;
  min-height: 292px;
  margin: 11px auto 11px 22px;
}

.u-section-4 .u-image-2 {
  width: 197px;
  height: 228px;
  margin: 64px 0 0 auto;
}

.u-section-4 .u-image-3 {
  width: 299px;
  height: 241px;
  margin: -292px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-image-1 {
    height: 487px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -561px;
    margin-right: 344px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 478px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 124px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 331px;
    margin-top: 215px;
    margin-right: 90px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -395px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-bottom: 9px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/LeapM_block_4.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 668px;
}

.u-section-5 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 121px 782px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 8px 404px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 5px;
    margin-bottom: 24px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/LeapM_block_5.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 668px;
}

.u-section-6 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 151px 570px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 688px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 24px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/LeapM_block_6.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 668px;
}

.u-section-7 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 68px 0 0 541px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0 541px;
}

.u-section-7 .u-image-1 {
  width: 250px;
  height: 486px;
  margin: -89px auto 0 87px;
}

.u-section-7 .u-group-1 {
  width: 476px;
  min-height: 311px;
  margin: -352px 123px 60px auto;
}

.u-section-7 .u-image-2 {
  width: 386px;
  height: 311px;
  margin: 0 90px 0 0;
}

.u-section-7 .u-image-3 {
  width: 180px;
  height: 145px;
  margin: -155px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 341px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 341px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -352px;
    margin-right: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 121px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    margin-right: 64px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 465px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -462px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 274px;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: -118px;
  }
} .u-section-8 {
  background-image: url("images/LeapM_block_7.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 668px;
}

.u-section-8 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 151px 541px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 688px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 341px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 121px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 24px;
  }
} .u-section-9 {
  background-image: url("images/LeapM_block_8.jpg");
  background-position: 50% 100%;
}

.u-section-9 .u-sheet-1 {
  min-height: 700px;
}

.u-section-9 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 112px 386px 0 270px;
}

.u-section-9 .u-image-1 {
  width: 253px;
  height: 492px;
  margin: -52px auto 0 33px;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -440px 386px 60px 270px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 85px;
    margin-right: 286px;
    margin-left: 170px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 52px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -961px;
    margin-left: 456px;
    margin-right: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 176px;
    margin-left: 60px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 236px;
    margin-right: 176px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 469px;
    margin-right: 56px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: -332px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -159px;
    margin-right: 56px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: -233px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -254px;
    margin-right: 0;
    margin-bottom: 52px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/LeapM_medical_kit.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 668px;
}

.u-section-10 .u-image-1 {
  width: 262px;
  height: 211px;
  text-align: right;
  margin: 229px 77px 0 auto;
}

.u-section-10 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 79.2px;
  font-weight: normal;
  text-align: left;
  margin: -209px 544px 0 0;
}

.u-section-10 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  line-height: 39.6px;
  text-align: left;
  font-size: 1.875rem;
  margin: 11px 426px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 344px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 124px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 200px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/LeapM_block_9.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 668px;
}

.u-section-11 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 52px 26px 0 636px;
}

.u-section-11 .u-text-2 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -525px 610px 369px 26px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 462px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin: -519px 496px 60px -34px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 242px;
  }

  .u-section-11 .u-text-2 {
    margin: -525px 216px 369px 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 62px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 641px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: -948px;
    margin-left: -34px;
    margin-right: 196px;
  }
} .u-section-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/LeapM_block_10.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 668px;
}

.u-section-12 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 402px 636px 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 662px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 436px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 216px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 36px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -202px;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-top: 583px;
    margin-right: 0;
    margin-bottom: 0;
  }
} .u-section-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/LeapM_block_111.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 668px;
}

.u-section-13 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 93px 430px 0 26px;
}

.u-section-13 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 636px 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-13 .u-text-2 {
    margin-right: 462px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 36px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-right: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 0;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 668px;
}

.u-section-14 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px 26px 0;
}

.u-section-14 .u-image-1 {
  width: 954px;
  height: 486px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-image-1 {
    width: 940px;
    height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-14 .u-image-1 {
    width: 720px;
    height: 367px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
    height: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 173px;
  }
} .u-section-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/LeapM_block_121.jpg");
  background-position: 50% 50%;
}

.u-section-15 .u-sheet-1 {
  min-height: 701px;
}

.u-section-15 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 327px 548px 0 0;
}

.u-section-15 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 662px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 348px;
  }

  .u-section-15 .u-text-2 {
    margin-right: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 128px;
  }

  .u-section-15 .u-text-2 {
    margin-right: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 0;
  }

  .u-section-15 .u-text-2 {
    margin-right: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-15 .u-text-2 {
    margin-right: 0;
  }
} .u-section-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/LeapM_block_131.jpg");
  background-position: 50% 50%;
}

.u-section-16 .u-sheet-1 {
  min-height: 668px;
}

.u-section-16 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 501px 0 0 482px;
}

.u-section-16 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 0 28px 463px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 282px;
  }

  .u-section-16 .u-text-2 {
    margin-left: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 62px;
  }

  .u-section-16 .u-text-2 {
    margin-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 0;
  }

  .u-section-16 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 200px;
  }
} .u-section-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/LeapM_block_14.jpg");
  background-position: 50% 50%;
}

.u-section-17 .u-sheet-1 {
  min-height: 668px;
}

.u-section-17 .u-text-1 {
  line-height: 52.8px;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 54px 0 0 456px;
}

.u-section-17 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 12px 0 60px 456px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 256px;
  }

  .u-section-17 .u-text-2 {
    margin-left: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 36px;
  }

  .u-section-17 .u-text-2 {
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 0;
  }

  .u-section-17 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 200px;
  }
}