 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/LeapM_block_1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-image-1 {
  width: 473px;
  height: 136px;
  margin: 163px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: normal;
  font-size: 1.125rem;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 161px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 98px;
    margin-top: 84px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/LeapM_lifestyle_kit.jpg");
  background-position: 50% 50%;
  min-height: 668px;
}

.u-section-2 .u-image-1 {
  width: 262px;
  height: 211px;
  margin: 229px calc(((100% - 1140px) / 2) + 77px) 0 auto;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 79.2px;
  font-weight: normal;
  font-size: 4.5rem;
  margin: -209px calc(((100% - 1140px) / 2) + 544px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  line-height: 39.6px;
  font-size: 2.25rem;
  margin: 11px calc(((100% - 1140px) / 2) + 426px) 0 calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 551px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 77px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 344px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 226px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 440px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 77px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 77px);
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 77px);
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 317px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 77px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -209px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 168px;
    height: 135px;
    margin-top: 153px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + 2px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    width: 340px;
    font-weight: 700;
    margin-top: -239px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 0.75rem;
    margin: -21px auto 87px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/LeapM_medical_kit.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 668px;
}

.u-section-3 .u-image-1 {
  width: 262px;
  height: 211px;
  text-align: right;
  margin: 229px 77px 0 auto;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  line-height: 79.2px;
  font-weight: normal;
  font-size: 4.5rem;
  margin: -209px 544px 0 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 39.6px;
  text-align: left;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 11px 426px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 344px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 77px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    width: 168px;
    height: 135px;
    margin-top: 75px;
    margin-right: -20px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    line-height: 25.6px;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: -36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin: 0 0 60px;
  }
}